SNOWFLAKE_USER="svc_streamlit_app"
SNOWFLAKE_PASSWORD="<PASSWORD_STREAMLIT>"
SNOWFLAKE_ACCOUNT="<ACCOUNT_IDENTIFIER>"
SNOWFLAKE_WAREHOUSE="compute_wh"
SNOWFLAKE_DATABASE="job_ads"
SNOWFLAKE_SCHEMA="marts"
SNOWFLAKE_ROLE="analytics_reader"
